@import '~styles/_variables';

.pedlg__modal-container {
    animation: fadeIn 250ms both ease-in-out;

    &.is-closing {
        animation: fadeOut 250ms both ease-in-out;
    }
}

.peldg__modal-content {
    position: relative;
    padding: $modal-content-padding;
    transition: all $speed $easing;

    &.is-small {
        max-width: 25em;
    }
    &.is-default {
        max-width: 45em;
    }
    &.is-medium {
        width: auto !important;
    }
    &.is-large {
        max-width: 85em;
    }

    .pedlg__modal-close {
        position: absolute;
        top: calc(#{$modal-content-padding} * 1.75);
        right: calc(#{$modal-content-padding} * 1.75);
    }

    @media screen and (max-width: $tablet - 1px) {
        & {
            width: 100%;
            max-height: calc(100vh - 40px);
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
